<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Student Profile</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'css/student.css' %}" />
    <!-- Fontawesome CDN Link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />
  </head>
  <body>
    <nav class="sidebar">
      <a href="#" class="logo">Dashboard</a>

      <div class="menu-content">
        <ul class="menu-items">
          <div class="menu-title">Profile</div>

          <li class="item">
            <a href="#">Your first look</a>
          </li>

          <li class="item">
            <div class="submenu-item">
              <span>Academics</span>
              <i class="fa-solid fa-chevron-right"></i>
            </div>

            <ul class="menu-items submenu">
              <div class="menu-title">
                <i class="fa-solid fa-chevron-left"></i>
                Academics Details
              </div>
              <li class="item">
                <a href="#">CGPA</a>
              </li>
              <li class="item">
                <a href="#">Credit Completed</a>
              </li>
              <li class="item">
                <a href="#">Level and Semester</a>
              </li>
            </ul>
          </li>
          <li class="item">
            <div class="submenu-item">
              <span>Financial</span>
              <i class="fa-solid fa-chevron-right"></i>
            </div>

            <ul class="menu-items submenu">
              <div class="menu-title">
                <i class="fa-solid fa-chevron-left"></i>
                Registration <Details></Details>
              </div>
              <li class="item">
                <a href="#">Financial Aid</a>
              </li>
              <li class="item">
                <a href="#">Scholarships</a>
              </li>
            </ul>
          </li>

          <li class="item">
            <a href="#">Others Activities</a>
          </li>
          <li class="item">
            <a href="course.html">Course Fee</a>
          </li>

        </ul>
      </div>
    </nav>

    <nav class="navbar">
      <i class="fa-solid fa-bars" id="sidebar-close"></i>
    </nav>

    <main class="main">
      <h3>Student Profile</h3>
      <div class="table">
        <table>
            <tr>
              <th>Student Name</th>
              <td>Md. Tasnif Rahman</td>
            </tr>
            <tr>
                <th>Faculty</th>
                <td>Computer Sciencd and Engineering</td>
            </tr>
            <tr>
                <th>Credit Completed</th>
                <td>145</td>
            </tr>
            <tr>
                <th>Program</th>
                <td>Bachelor of Science in Computer Science and Engineering</td>
            </tr>
            <tr>
                <th>Faculty Batch</th>
                <td>16</td>
            </tr>
            <tr>
                <th>ID No.</th>
                <td>1802014</td>
            </tr>
            <tr>
                <th>Registration No.</th>
                <td>08424</td>
            </tr>
            <tr>
                <th>Current Level</th>
                <td>IV</td>
            </tr>
            <tr>
                <th>Current Semester</th>
                <td>I</td>
            </tr>
          </table>
    </div>
    </main>




    <script src="{% static 'student.js' %}"></script>
  </body>
</html>